{% extends 'base.html' %} {% block content %}

<div class="container-fluid hero-header bg-light py-5 mb-5">
    

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-3">
                <div class="text-center mb-3">
                    <select class="form-select fs-4" onchange="mostrarOpciones(this.value)">
                        <option disabled selected>Seleccione una opción</option>
                        <option value="frase">Ingresar Texto</option>
                        <option value="documento">Cargar Documento</option>
                    </select>
                </div>
            </div>
        </div>
        <style>
            .form-select {
                width: 100%;
                max-width: 300px;
            }
        </style>
        <script>
            function mostrarOpciones(opcion) {
                var opcionFrase = document.getElementById('opcion-frase');
                var opcionDocumento = document.getElementById('opcion-documento');
                
                opcionFrase.style.display = 'none';
                opcionDocumento.style.display = 'none';
    
                if (opcion === 'frase') {
                    opcionFrase.style.display = 'block';
                } else if (opcion === 'documento') {
                    opcionDocumento.style.display = 'block';
                }
            }
        </script>
    </div>
    
    
    <form class="row g-1" action="/result" method="POST">
        <div class="container-fluid hero-header bg-light py-1 mb-1">
            <div class="container-fluid hero-header bg-light py-1 mb-1" id="contenedor">
                <div class="mb-1"> <br> <br> <br> <br>
                    <h2>Ingresar Texto</h2><textarea class="form-control" name="frase" id="output" placeholder="Ingrese su texto aqui" rows="3"> {{texto}} </textarea></div> <br> <button type="submit" class="btn btn-primary py-3 px-4 animated slideInDown"
                    id="bot">Procesar</button>
            </div>



        </div>


        <div class="container">
            <div class="row container-fluid hero-header bg-light py-5 mb-5">
                <div class="col-md-6">

                    <div class="jumbotron">
                        <div class="container pt-3">
                            <h1 class="display-5 text-center  display-7"> Modelo Coseno Vectorial </h1>
                              <!--<h5> Corpus analizado: {{texto}}</h5>  -->
                        </div>
                    </div>


                    <div class="container mt-4">
                        <div class="row mt-4">
                            <div class="col-md-12">

                                <div class="progress" style="height: 30px;">
                                    <label for="edad-progress" class="h5">Raza </label>
                                    <div class="progress-bar progress-bar-striped" style="min-width: 20px; font-size: 20px;" id='raza'></div>
                                </div>

                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">


                                <div class="progress" style="height: 30px;">
                                    <label for="edad-progress" class="h5">Genero: </label>
                                    <div class="progress-bar progress-bar-striped" style="min-width: 20px; font-size: 20px;" id='genero'></div>
                                </div>

                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">



                                <div class="progress" style="height: 30px;">
                                    <label for="edad-progress" class="h5">Orientacion Sexual: </label>
                                    <div class="progress-bar progress-bar-striped" style="min-width: 20px; font-size: 20px;" id='orientacion'></div>
                                </div>



                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">


                                <div class="progress" style="height: 30px;">
                                    <label for="edad-progress" class="h5">Edad:</label>
                                    <div class="progress-bar progress-bar-striped" style="min-width: 20px; font-size: 20px;" id='edad'></div>
                                </div>


                            </div>
                        </div>


                        <div class="row mt-4" id="resultado">
                            <div class="col-md-12 text-center">
                                <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ image }}" style="width: 300px; height: 300px;">
                                <input type="hidden" name="pos1" value="{{ pos1 }}">
                                {% if pos1 == 0 %}
                                    <h2 class="text-dark display-5">Discriminación por Raza</h2>
                                {% elif pos1 == 1 %}
                                    <h2 class="text-dark display-5">Discriminación por Género</h2>
                                {% elif pos1 == 2 %}
                                    <h2 class="text-dark display-5">Discriminación por Orientación Sexual</h2>
                                {% elif pos1 == 3 %}
                                    <h2 class="text-dark display-5">Discriminación por Edad</h2>
                                {% elif pos1 == 4 %}
                                    <h2 class="text-dark display-5">No contiene Discriminación</h2>
                                {% endif %}
                            </div>
                        </div>
                        
                        
                        

                    </div>
                </div>

               

                <div class="col-md-6">


                    <div class="jumbotron">
                        <div class="container pt-3">
                            <h1 class="display-5 text-center  display-7"> Modelo Jaccard </h1>
                            <!--<h5> Corpus analizado: {{texto}}</h5>  -->
                        </div>
                    </div>


                    <div class="container mt-4">
                        <div class="row mt-4">
                            <div class="col-md-12">


                                <div class="progress" style="height: 30px;">
                                    <label for="edad-progress" class="h5">Raza:</label>
                                    <div class="progress-bar progress-bar-striped" style="min-width: 20px; font-size: 20px;" id='raza1'></div>
                                </div>


                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">

                                <div class="progress" style="height: 30px;">
                                    <label for="edad-progress" class="h5">Genero:</label>
                                    <div class="progress-bar progress-bar-striped" style="min-width: 20px; font-size: 20px;" id='genero1'></div>
                                </div>


                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">

                                <div class="progress" style="height: 30px;">
                                    <label for="edad-progress" class="h5">Orientacion Sexual:</label>
                                    <div class="progress-bar progress-bar-striped" style="min-width: 20px; font-size: 20px;" id='orientacion1'></div>
                                </div>

                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="progress" style="height: 30px;">
                                    <label for="edad-progress" class="h5">Edad: </label>
                                    <div class="progress-bar progress-bar-striped" style="min-width: 20px; font-size: 20px;" id='edad1'></div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4" id="resultado2">
                            <div class="col-md-12 text-center">
                                <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ image2 }}" style="width: 300px; height: 300px;">
                                <input type="hidden" name="pos2" value="{{ pos2 }}">
                                {% if pos2 == 0 %}
                                    <h2 class="text-dark display-5">Discriminación por Raza</h2>
                                {% elif pos2 == 1 %}
                                    <h2 class="text-dark display-5">Discriminación por Género</h2>
                                {% elif pos2 == 2 %}
                                    <h2 class="text-dark display-5">Discriminación por Orientación Sexual</h2>
                                {% elif pos2 == 3 %}
                                    <h2 class="text-dark display-5">Discriminación por Edad</h2>
                                {% elif pos2 == 4 %}
                                    <h2 class="text-dark display-5">No contiene Discriminación</h2>
                                {% endif %}
                            </div>
                        </div>

                        

                    </div>
                </div>




    </form>
    </div>


    {% if norm3 %}
    <div id="norm3-values" data-norm3="{{ norm3 }}"></div>
    {% endif %} 
    
    {% if norm %}
    <div id="norm-values" data-norm="{{ norm }}"></div>
    {% endif %}

    







    <script>
        // Obtener el valor de norm3 desde el atributo data-norm3
        var norm3 = JSON.parse(document.getElementById("norm3-values").getAttribute("data-norm3"));
        var norm = JSON.parse(document.getElementById("norm-values").getAttribute("data-norm"));
        
        var maxIndex = norm3.indexOf(Math.max(...norm3));
        var maxIndex2 = norm.indexOf(Math.max(...norm));


        function mostrarOpciones(opcionSeleccionada) {
            var opcionesContenedor = document.getElementById('contenedor');

            if (opcionSeleccionada === 'frase') {
                opcionesContenedor.innerHTML = '<div class="mb-3"><h4> <br> <br><br> <br> Ingresar Texto</h4><textarea class="form-control" name="frase" id="output" placeholder="Ingrese su texto aqui" rows="3"></textarea></div> <br>   <button type="submit" class="btn btn-primary py-3 px-4 animated slideInDown"  id="bot">Procesar</button>';

            } else if (opcionSeleccionada === 'documento') {
                opcionesContenedor.innerHTML = '<br> <br><br> <br><input type="file" id="file-input" multiple><h4>Contenido del archivo:</h4><textarea readonly class="form-control" name="frase" id="contenido-archivo" rows="3"></textarea> <br>   <button type="submit" class="btn btn-primary py-3 px-4 animated slideInDown"  id="bot">Procesar</button>';

                document.getElementById('file-input').addEventListener('change', leerArchivo, false);
            }
        } 

        function leerArchivo(evento) {
            var archivo = evento.target.files[0];
            var lector = new FileReader();

            lector.onload = function() {
                var contenido = lector.result;
                document.getElementById('contenido-archivo').value = contenido;
            }

            lector.readAsText(archivo);
        }


        function makeProgress(elementId, normIndex, i) {
            if (i < norm3[normIndex]) {
                i = i + 1;
                $(elementId).css("width", i + "%").text(i + "%");
                setTimeout(function() {
                    makeProgress(elementId, normIndex, i);
                }, 100);
            } else if (i == 0) {
                $(elementId).css("width", i + "%").text(i + "%");
                setTimeout(function() {
                    makeProgress(elementId, normIndex, i);
                }, 100);
            }
        }

        makeProgress("#raza", 0, 0);
        makeProgress("#genero", 1, 0);
        makeProgress("#orientacion", 2, 0);
        makeProgress("#edad", 3, 0);


        function makeProgress2(elementId, normIndex, i) {
            if (i < norm[normIndex]) {
                i = i + 1;
                $(elementId).css("width", i + "%").text(i + "%");
                setTimeout(function() {
                    makeProgress2(elementId, normIndex, i);
                }, 100);
            }
             else if (i == 0) {
            $(elementId).css("width", i + "%").text(i + "%");
            setTimeout(function() {
                makeProgress2(elementId, normIndex, i);
            }, 100);
            }
            
        }

        makeProgress2("#raza1", 0, 0);
        makeProgress2("#genero1", 1, 0);
        makeProgress2("#orientacion1", 2, 0);
        makeProgress2("#edad1", 3, 0);
    </script>

    {% endblock %}