{% extends 'base.html' %}  {% block content %}

<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
</button>


<div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Seleccione una Opcion</a>
        <div class="dropdown-menu shadow-sm m-0">
            <a href="#" id="opcion-frase" class="dropdown-item" onclick="mostrarOpciones('frase')">Ingresar Frase</a>
            <a href="#" id="opcion-documento" class="dropdown-item" onclick="mostrarOpciones('documento')">Cargar Documento</a>

        
        </div>
    </div>
</div>


</nav>
<form class="row g-3" action="/result" method="POST">
<div class="container-fluid hero-header bg-light py-5 mb-5" >
    <div class="container-fluid hero-header bg-light py-5 mb-5" id = "contenedor">
        <div class="mb-3"><h4>Ingresar Frase</h4><textarea class="form-control" name="frase" id="output" placeholder="Ingrese su texto aqui" rows="3"></textarea></div> <br>   <button type="submit" class="btn btn-primary py-3 px-4 animated slideInDown"  id="bot">Procesar</button>
    </div>
   
</div>   


<div class="container">
    <div class="row container-fluid hero-header bg-light py-5 mb-5">
      <div class="col-md-6">
        <h1>Por el metodo de Coseno la frase : {{texto}}</h1>
  
        <div class="container mt-4">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="progress">
                <label for="edad-progress">Raza:&nbsp </label>
                <div class="progress-bar progress-bar-striped" style="min-width: 20px;" id='raza'></div>
              </div>
            </div>
          </div>
  
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="progress">
                <label for="edad-progress">Genero:&nbsp </label>
                <div class="progress-bar progress-bar-striped" style="min-width: 20px;" id='genero'></div>
              </div>
            </div>
          </div>
  
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="progress">
                <label for="edad-progress">Orientacion Sexual:  </label>
                <div class="progress-bar progress-bar-striped" style="min-width: 20px;" id='orientacion'></div>
              </div>
            </div>
          </div>
  
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="progress">
                <label for="edad-progress">Edad: </label>
                <div class="progress-bar progress-bar-striped" style="min-width: 20px;" id='edad'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <h1>aqui va el otro metodo</h1>
  
        <div class="container mt-4">
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="progress">
                <label for="edad-progress">Raza:&nbsp </label>
                <div class="progress-bar progress-bar-striped" style="min-width: 20px;" id='raza1'></div>
              </div>
            </div>
          </div>
  
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="progress">
                <label for="edad-progress">Genero:&nbsp </label>
                <div class="progress-bar progress-bar-striped" style="min-width: 20px;" id='genero1'></div>
              </div>
            </div>
          </div>
  
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="progress">
                <label for="edad-progress">Orientacion Sexual:  </label>
                <div class="progress-bar progress-bar-striped" style="min-width: 20px;" id='orientacion1'></div>
              </div>
            </div>
          </div>
  
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="progress">
                <label for="edad-progress">Edad: </label>
                <div class="progress-bar progress-bar-striped" style="min-width: 20px;" id='edad1'></div>
            </div>
        </div>
      </div>  
    </div>  
</div>           
  





</form>

{% if norm3 %}
  <div id="norm3-values" data-norm3="{{ norm3 }}"></div>
{% endif %}

{% if norm %}
  <div id="norm-values" data-norm="{{ norm }}"></div>
{% endif %}


   



<script>

        // Obtener el valor de norm3 desde el atributo data-norm3
    var norm3 = JSON.parse(document.getElementById("norm3-values").getAttribute("data-norm3"));
    var norm = JSON.parse(document.getElementById("norm-values").getAttribute("data-norm"));


    
    console.log(norm3);
    console.log("hola mundo")

    function mostrarOpciones(opcionSeleccionada) {
        var opcionesContenedor = document.getElementById('contenedor');
    
        if (opcionSeleccionada === 'frase') {
            opcionesContenedor.innerHTML = '<div class="mb-3"><h4>Ingresar Frase</h4><textarea class="form-control" name="frase" id="output" placeholder="Ingrese su texto aqui" rows="3"></textarea></div> <br>   <button type="submit" class="btn btn-primary py-3 px-4 animated slideInDown"  id="bot">Procesar</button>' ;
            
        } else if (opcionSeleccionada === 'documento') {
            opcionesContenedor.innerHTML = '<input type="file" id="file-input" multiple><h4>Contenido del archivo:</h4><textarea readonly class="form-control" name="frase" id="contenido-archivo" rows="3"></textarea> <br>   <button type="submit" class="btn btn-primary py-3 px-4 animated slideInDown"  id="bot">Procesar</button>';

            document.getElementById('file-input').addEventListener('change', leerArchivo, false);
        }
    }
    function leerArchivo(evento) {
        var archivo = evento.target.files[0];
        var lector = new FileReader();
    
        lector.onload = function() {
            var contenido = lector.result;
            document.getElementById('contenido-archivo').value = contenido;
        }
    
        lector.readAsText(archivo);
    }
    

        function makeProgress(elementId, normIndex, i) {
            if (i < norm3[normIndex]) {
              i = i + 2;
              $(elementId).css("width", i + "%").text(i + "%");
              setTimeout(function() {
                makeProgress(elementId, normIndex, i);
              }, 100);
            }
          }
          
          makeProgress("#raza", 0, 0);
          makeProgress("#genero", 1, 0);
          makeProgress("#orientacion", 2, 0);
          makeProgress("#edad", 3, 0);


          function makeProgress2(elementId, normIndex, i) {
            if (i < norm[normIndex]) {
              i = i + 2;
              $(elementId).css("width", i + "%").text(i + "%");
              setTimeout(function() {
                makeProgress(elementId, normIndex, i);
              }, 100);
            }
          }
          
          makeProgress2("#raza1", 0, 0);
          makeProgress2("#genero1", 1, 0);
          makeProgress2("#orientacion1", 2, 0);
          makeProgress2("#edad1", 3, 0);
       
       

    
    


</script>

{% endblock %}


